In [4]:
import pandas as pd
data = {
    "Male" : ["John" , "James" , "Victor" ], 
    "Female" : ["Joy" , "Joan" , "Joyce" ]
    
}

# Assign my data to a dataframe

df = pd.DataFrame(data)

df

     Male Female
0    John    Joy
1   James   Joan
2  Victor  Joyce

In [5]:
# Looking at our data frame above we may want to add an extra column loke avg_marks

df['Avg_marks'] = [80 , 50 , 30]
df

     Male Female  Avg_marks
0    John    Joy         80
1   James   Joan         50
2  Victor  Joyce         30

In [6]:
# We can add an extra column "Grade" to know if they passed or not

df['Grade'] = ["A" , "B" , "C"]
df

     Male Female  Avg_marks Grade
0    John    Joy         80     A
1   James   Joan         50     B
2  Victor  Joyce         30     C

In [7]:
# We can create another column passed and fill it by default with no

df['Passed'] = 'No'
df

     Male Female  Avg_marks Grade Passed
0    John    Joy         80     A     No
1   James   Joan         50     B     No
2  Victor  Joyce         30     C     No

In [8]:
# We go ahead and do the filtering using conditional statements

df.loc[df["Avg_marks"] >= 50 , 'Passed'] = 'Yes'
df

# df.loc[(df.Avg_marks > 50) & (df.Passed)] = 'Yes'
# df

     Male Female  Avg_marks Grade Passed
0    John    Joy         80     A    Yes
1   James   Joan         50     B    Yes
2  Victor  Joyce         30     C     No