In [2]:
import pandas as pd

social_media = pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv")
social_media

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884

In [ ]:
# Conditional selection is when we select certain elements based on certain conditions.

# We can select all post_length which are greater than 100

social_media.loc[social_media.post_length > 100]

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
1,Instagram,Video,104,113115,4164,632,406,0.045989
7,Twitter,Video,103,171894,13050,917,1441,0.089637
9,Facebook,Video,108,69345,1641,180,180,0.028856
16,Twitter,Image,108,95923,5551,937,313,0.070901
17,Twitter,Text,110,12273,1200,222,111,0.124908
...,...,...,...,...,...,...,...,...
9964,Twitter,Video,110,7634,589,113,64,0.100341
9966,Facebook,Image,109,108126,2850,506,230,0.033165
9969,Facebook,Image,114,204170,19105,2385,1526,0.112730
9992,Instagram,Video,109,198930,10389,965,1280,0.063510
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299

In [7]:
# We can combine 2 conditional statements by using an & sign

#  We display platforms whose post_length > 100 and post_type is video

social_media.loc[(social_media.post_length > 100) & (social_media.post_type == 'Video')]

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
1,Instagram,Video,104,113115,4164,632,406,0.045989
7,Twitter,Video,103,171894,13050,917,1441,0.089637
9,Facebook,Video,108,69345,1641,180,180,0.028856
24,Instagram,Video,116,19017,218,41,19,0.014618
30,Twitter,Video,102,49025,1150,131,126,0.028700
...,...,...,...,...,...,...,...,...
9941,Instagram,Video,109,119074,5054,571,504,0.051472
9949,Instagram,Video,116,206276,20185,3867,583,0.119427
9954,Instagram,Video,119,134306,1701,93,56,0.013775
9964,Twitter,Video,110,7634,589,113,64,0.100341
9992,Instagram,Video,109,198930,10389,965,1280,0.063510

In [ ]:
# # Other conditial methods we can use are

# isin()
# notnull()
# isnull()