In [1]:
import pandas as pd

# create a dataframe - its a table with rows(records) and columns

# the keys - columns and values - Rows
data = {
    "Male" : ["John" , "James" , "Victor" ], 
    "Female" : ["Joy" , "Joan" , "Joyce" ]
}

# Assign my data to a dataframe

df = pd.DataFrame(data)

df

     Male Female
0    John    Joy
1   James   Joan
2  Victor  Joyce

In [ ]:
# As you see in the above code cell , there is automatic incriment as you move from one row to another.
# o , 1 , 2 . These are indexes

# We can rename the indexes as follows

df = pd.DataFrame(data , index = ['Student_1' , 'Student_2' , 'Student_3' ])
df

             Male Female
Student_1    John    Joy
Student_2   James   Joan
Student_3  Victor  Joyce

In [4]:
# SERIES

# This on the other hand is a single column. Data-frame is a table while Series is a a single column

data_two = [20 , 30 , 40] # we create a series like a list

pd.Series(data_two , index=['2015 Sales' , '2016 Sales' , '2017 Sales'])

# This creates a sinfle column and we assign it indexes

2015 Sales    20
2016 Sales    30
2017 Sales    40
dtype: int64