In [3]:
# We can create a dataframe

import pandas as pd

countries ={
    "Country" : ['Italy' , 'France' , 'Germany' , 'Kenya'] , 
    "People" : [1000 , 2000 , 3000 , 4000 ]
     }
df = pd.DataFrame(countries)
df

   Country  People
0    Italy    1000
1   France    2000
2  Germany    3000
3    Kenya    4000

In [ ]:
# We can access specific series(column)

# Displays the 1st column and its content

df['Country']

0      Italy
1     France
2    Germany
3      Kenya
Name: Country, dtype: object

In [ ]:
# We can go ahead and select specific value in that column

# lets say we want to select italy

df['Country'][0]

# we access the specific value at index 0

'Italy'

In [ ]:
# # indexing in pandas

# # Indexing in python uses iloc and loc


# Both loc and iloc are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

In [8]:
# To select a row in pandas

# We will be using the dataframe i created for countries and its people

# We select the 1st row

df.iloc[0]

Country    Italy
People      1000
Name: 0, dtype: object

In [9]:
# To retrieve a column we do the following using iloc

# This means we select all the rows(:) and the 1st column(0)
df.iloc[: , 0]

0      Italy
1     France
2    Germany
3      Kenya
Name: Country, dtype: object

In [12]:
# : on its own means we select everything.
#  It can be used in combination with numerical values to mean otherwise

# For example: To select upto the seconf row we could do the following:

df.iloc[:2]

  Country  People
0   Italy    1000
1  France    2000

In [ ]:
# Also we can select from the last column

# Lets read a csv file and see it in action

social_media = pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv")
social_media.head()

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502

In [14]:
# Okay to display the last column("engagement_rate") we could prceed as follows:

social_media.iloc[:3 , -1]

0    0.039166
1    0.045989
2    0.094692
Name: engagement_rate, dtype: float64

In [ ]:
# # Its much simpler to use iloc than loc

# # iloc treats our datasets like am big matrix(list of lists)

# loc, by contrast, uses the information in the indices to do its work.

In [15]:
social_media.loc[:3 , 'platform']

0     Facebook
1    Instagram
2     Facebook
3     Facebook
Name: platform, dtype: object

In [ ]:
# In summary iloc is index based while loc is label_based