In [ ]:
# When reading a dataset or when you display your dataframes by default pandas creates a index(0 , 1 , 2 ,3 etc)

# But one can set their own index using set_index method and its powerful

In [2]:
import pandas as pd

countries ={
    "Country" : ['Italy' , 'France' , 'Germany' , 'Kenya'] , 
    "People" : [1000 , 2000 , 3000 , 4000 ] ,
    "Description" : ["Italian_languange" , 'French_Languange' , 'German_languange' , 'Swahili_languange']
     }
df = pd.DataFrame(countries)
df

   Country  People        Description
0    Italy    1000  Italian_languange
1   France    2000   French_Languange
2  Germany    3000   German_languange
3    Kenya    4000  Swahili_languange

In [3]:
# As you can see by default pandas creates an index

# We can set our own index based on what we wan to achieve

# by looking at our dataframe obove we can see we have a column description.

# Description is a unique column as each country has sth unique. We can use descripttion as our index . When we search for a certain description we know which country we will be talking about.


df.set_index("Description")

                   Country  People
Description
Italian_languange    Italy    1000
French_Languange    France    2000
German_languange   Germany    3000
Swahili_languange    Kenya    4000