In [2]:
# # MAPPING

# # Mapping is taking each single value in a dataset and transforming it in a consisitent way.

# eg:
# convert names to uppercase
# change currency from usd to ksh
# categoriztion and many more

In [3]:
# For this to be possible there are 2 ways we can achieve this.

# By using the map() function or apply() function

In [ ]:
# MAP() FUNCTION

# map() appliies a function to each value in a single column(series)
# THAT IS: FOR EVERY VALUE HERE DO THIS ONE THING. WORKS FOR ONLY ONE COLUMN AND BEST FOR SIMPLE TRANSFORMATIONS

# See example below

import pandas as pd

# We create a single column with numbers 2 , ,4 ,5 ,6
column_1 =pd.Series([2 , 4 , 5 ,6])
column_1

# We may decide we increase each value in that coumn by 1


add_one = column_1.map(lambda x : x + 1)
add_one

# If you look at our column you will see that we have incremented each value in the column by 1

0    3
1    5
2    6
3    7
dtype: int64

In [10]:
# the map is best used for:
# simple calculations
# convert categories
# apply quick maths
# replace values using a dictionary

country = pd.Series(['USA' , 'Germany' , 'France'] , name = 'Countries')
country

0        USA
1    Germany
2     France
Name: Countries, dtype: object

In [12]:
# we replace the columns for countries with different countries using a dictionary

new_countries = country.map({
    "USA" : "Kenya" ,
    "Germany" : 'Uganda' , 
    "France" : 'Tanzania'
})
new_countries

0       Kenya
1      Uganda
2    Tanzania
Name: Countries, dtype: object

In [ ]:
# lets see if we can use a lambda to cjhange to lower case

country_lambda = country.map(lambda x : x.lower())
country_lambda

0        usa
1    germany
2     france
Name: Countries, dtype: object

In [ ]:
# APPLY FUNCTION

# This is a flexible mapping(Series or DataFrame)

# apply() applies to a function
#  to each value
#  each row
#  each column

#  DEPENDS ON HOW YOU USE IT

# IT WORKS IN SERIES OR DATAFRAMES

In [ ]:
# APPLY ON SERIES

# We use the series column_1

column_apply = column_1.apply(lambda x : x ** 2)
column_apply

# We square each value in our column

0     4
1    16
2    25
3    36
dtype: int64

In [19]:
# APPLY ON DATAFRAMES

df = pd.DataFrame({
    'English' : [60 ,70 , 80 ,90 ] , 
    'Math' : [90 ,50 ,70 ,40]
})
df

   English  Math
0       60    90
1       70    50
2       80    70
3       90    40

In [20]:
# We see Apply in action

# Perform average of english and math

df['Average'] = df.apply(lambda row: (row['English'] + row['Math']) / 2 , axis = 1)

# axis = 1 means apply per row
df

   English  Math  Average
0       60    90     75.0
1       70    50     60.0
2       80    70     75.0
3       90    40     65.0

In [ ]:


df['Passed'] = df.apply(lambda row : 'Yes' if row['Average'] >70 else 'No' , axis = 1)
df

   English  Math  Average Passed
0       60    90     75.0    Yes
1       70    50     60.0     No
2       80    70     75.0    Yes
3       90    40     65.0     No