In [1]:
# This notebook is for learning how to deal with null values. How to display and manipulate the null values

import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Data-Science-Foundations\datasets\winemag-data-130k-v2.csv" , index_col= 0)
df.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [17]:
pd.isnull(df['region_2'])

0          True
1          True
2         False
3          True
4         False
          ...
129966     True
129967    False
129968     True
129969     True
129970     True
Name: region_2, Length: 129971, dtype: bool

In [21]:
# One may want to go ahead and fill those missing values

# We use the fillna property

new_df=df['region_2'].fillna("Unknown")
new_df

0                   Unknown
1                   Unknown
2         Willamette Valley
3                   Unknown
4         Willamette Valley
                ...
129966              Unknown
129967         Oregon Other
129968              Unknown
129969              Unknown
129970              Unknown
Name: region_2, Length: 129971, dtype: object

In [23]:
pd.isnull(new_df)

0         False
1         False
2         False
3         False
4         False
          ...
129966    False
129967    False
129968    False
129969    False
129970    False
Name: region_2, Length: 129971, dtype: bool

In [27]:
changed_twitter = df['taster_twitter_handle'].iloc[:1]
changed_twitter

0    @kerinokeefe
Name: taster_twitter_handle, dtype: object

In [28]:
# We have a very important property of replacing values

# one may chnage sth and you may want the same to reflect on the columns

# Lets say we want to change the twitter handle of @kerinokeefe he is the 1st person in the dataset

changed_twitter = df['taster_twitter_handle'].replace("@kerinokeefe" , "@kerino")
changed_twitter.head(1)

0    @kerino
Name: taster_twitter_handle, dtype: object