In [8]:
# # When dealing with group_by()method one csn groupby using one column or multiple columns as we have been doing in the grouping_data.ipynb notebook


# # But when we group_by() method with multiple columns it results to = MULTIPLE_INDEXING


# # MULTIPLE_INDEXING

# # When a single row is identified by more than one column eg:

# # countries_reviewed = reviews.groupby(
# #     ['country', 'province']
# # ).description.agg([len])

# You group the data by:

# country

# province

# You count (len) the number of descriptions per group

# Pandas creates a Multi-Index using:

# Level 1 → country

# Level 2 → province

In [9]:
# SEE CODE BELOW
import pandas as pd
df = pd.read_csv(r"C:\Users\HP\Desktop\Data-Science-Foundations\datasets\winemag-data_first150k.csv" , index_col=0)
df.head()

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [10]:
grouped_df = df.groupby(['country' , 'province']).description.agg([len])
grouped_df

                             len
country   province
Albania   Mirditë              2
Argentina Mendoza Province  4742
          Other              889
Australia Australia Other    553
          New South Wales    246
...                          ...
Uruguay   Juanico             19
          Montevideo           3
          Progreso             5
          San Jose            15
          Uruguay             18

[455 rows x 1 columns]

In [11]:
# Why This Can Be Confusing (“Gotcha”)

# With a Multi-Index:

# You can’t access rows using just one label

# You often need two levels of indexing

# Some operations feel more complex than usual

# Example of accessing data:

try_access = grouped_df.loc['Uruguay'  , 'San Jose']
try_access

len    15
Name: (Uruguay, San Jose), dtype: int64