In [ ]:
# Since we have seen how to create data either dataframes or series we need to see how to read our data

# Most common is csv (comma seperated values). Its just has values which are seperated by commas hence the name

In [3]:
import pandas as pd

social_media_data = pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv")
social_media_data

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884

In [4]:
# From above code cell we can see that our dataset has (1000 rows and 8 columns)

# We can use the shape to check how large our dataframe is


social_media_data.shape

(10000, 8)

In [ ]:
# head()displays the columns present in our dataframe and the first 5 entries(rows , records)
social_media_data.head()

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502

In [ ]:
# read_csv() has 30 different parameters that you can specify

# when you happen to hover on read_csv() you will see the different parameters present

# example: file_path , delimeter , index_col etc . All have different functions

In [ ]:
# SEP PARAMETER
# sep parameter = indicates the seperater used between the records

pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , sep = ",")

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884

In [12]:
# HEADER PARAMETER

# The header parameter used to specify which row do you want us to use as the column names.

# By default if you dont specify it uses the 1st row

pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , header = 0)

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884

In [ ]:
# NAMES PARAMETER

# The paramter is used to rename the column names. You just specify the names of the columns in a list

# We assignef head = 0 so that we can alter the 1st row.

# We can also make the head = none so that we just add another row above.

pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , names = ['Column_1' , 'Column_2' , 'Column_3' , 'Column_4' , 'Column_5' , 'Column_6' , 'Column_7' , 'Column_8'] , header = 0)

,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884

In [ ]:
# INDEX_COL PARAMETER

# The parameter is used to indiacte which column you want to be used as an index that one that automatically increments

# ive indicated that we use the column post_type as the index

pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , index_col = "post_type")

,platform,post_length,views,likes,comments,shares,engagement_rate
post_type,,,,,,,
Text,Facebook,62,91660,2968,276,346,0.039166
Video,Instagram,104,113115,4164,632,406,0.045989
Video,Facebook,46,36043,3125,188,100,0.094692
Image,Facebook,39,124886,5970,948,578,0.060023
Video,Instagram,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...
Image,Facebook,65,42330,1436,158,122,0.040539
Text,Instagram,119,254309,12274,2226,1089,0.061299
Image,Twitter,17,48415,4126,503,581,0.107611
Video,Twitter,16,63006,5504,529,499,0.103673
Image,Facebook,33,183199,17318,1292,971,0.106884

In [ ]:
# USE_COLS PARAMETERS

# Only loads the parameters you have specified

# This loads only 2 columns that you happened to have specified

two_cols = pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , usecols = ['platform' , 'post_type'])
two_cols

       platform post_type
0      Facebook      Text
1     Instagram     Video
2      Facebook     Video
3      Facebook     Image
4     Instagram     Video
...         ...       ...
9995   Facebook     Image
9996  Instagram      Text
9997    Twitter     Image
9998    Twitter     Video
9999   Facebook     Image

[10000 rows x 2 columns]

In [33]:
# DTYPE PARAMETER

# Defines the parameter of the a specific column

pd.read_csv(r'C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv' , dtype = {'platform' : str , 'post_type' : str})

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884

In [ ]:
# PARSE DATES PARAMETERS

# This parameter converts specific columns to dattime objects

In [34]:
# N ROWS

# Specifies the number of rows you want to displey

pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , nrows = 20)

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
5,Instagram,Video,71,221855,5252,459,775,0.029235
6,Facebook,Text,45,69250,3580,530,192,0.062123
7,Twitter,Video,103,171894,13050,917,1441,0.089637
8,Facebook,Text,54,193496,2028,202,213,0.012626
9,Facebook,Video,108,69345,1641,180,180,0.028856
10,Facebook,Video,90,186950,2212,368,167,0.014694
11,Facebook,Video,76,199035,19775,1904,586,0.111865
12,Instagram,Image,83,247591,19425,1114,2863,0.094519
13,Facebook,Text,49,88898,3877,298,174,0.048921
14,Twitter,Image,75,133108,3203,452,384,0.030344
15,Instagram,Video,23,95034,1723,90,65,0.019761
16,Twitter,Image,108,95923,5551,937,313,0.070901
17,Twitter,Text,110,12273,1200,222,111,0.124908
18,Twitter,Video,21,158102,11180,1389,824,0.084711
19,Twitter,Image,69,129419,5547,866,801,0.055741

In [42]:
# # ENCODING PARAMETER

# Specifies the character encoding of the file (e.g., 'utf-8', 'latin1', 'ISO-8859-1') to prevent errors when reading special characters.

pd.read_csv(r"C:\Users\Kxbuga\Desktop\Data-Science-Foundations\datasets\social_media_engagement_dataset.csv" , encoding ='utf-8')

,platform,post_type,post_length,views,likes,comments,shares,engagement_rate
0,Facebook,Text,62,91660,2968,276,346,0.039166
1,Instagram,Video,104,113115,4164,632,406,0.045989
2,Facebook,Video,46,36043,3125,188,100,0.094692
3,Facebook,Image,39,124886,5970,948,578,0.060023
4,Instagram,Video,42,82831,8212,1104,334,0.116502
...,...,...,...,...,...,...,...,...
9995,Facebook,Image,65,42330,1436,158,122,0.040539
9996,Instagram,Text,119,254309,12274,2226,1089,0.061299
9997,Twitter,Image,17,48415,4126,503,581,0.107611
9998,Twitter,Video,16,63006,5504,529,499,0.103673
9999,Facebook,Image,33,183199,17318,1292,971,0.106884