In [38]:
import pandas as pd

In [39]:
# # This notebook is for doing the recap of the folloeing
# 1. Indexing , selecting and assigning
# 2. Summary functions and maps
# 3.Grouping and sorting

In [40]:
# we create a data frame

data = {
    "A" : 1.0 , 
    'B' : pd.Timestamp('20250110') , 
    'C' : pd.Series(1 , index= list(range(4)) , dtype = 'float32') ,
    'D' : pd.Categorical(['Test' , 'Train' , 'Test' , 'Train']) ,

}

pd.DataFrame(data)

     A          B    C      D
0  1.0 2025-01-10  1.0   Test
1  1.0 2025-01-10  1.0  Train
2  1.0 2025-01-10  1.0   Test
3  1.0 2025-01-10  1.0  Train

In [41]:
numbers = [1 ,2 ,3 ,4]

# pd.Series(numbers , index= ['num_1' , 'num_2' , 'num_3' , 'num_4'])

pd.Series( 1, index = list(range(10)) , dtype = 'float32')

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float32

In [42]:
# We read one of our data set and try to select and index

df = pd.read_csv(r"C:\Users\HP\Desktop\Data-Science-Foundations\datasets\winemag-data-130k-v2.csv" , index_col= 0 )
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [43]:
# Accessing a specific column

df['country'].head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [44]:
# Accessing a specific row in a certain column

df['country'][1]

'Portugal'

In [45]:
# Indexing using iloc and loc

# iloc uses indexes (rows , columns)

country_column = df.iloc[: , 0]
country_column  # select all the rows of the country column

0            Italy
1         Portugal
2               US
3               US
4               US
            ...
129966     Germany
129967          US
129968      France
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [46]:
# To select all the column but upto row 3

upto_row_3 = df.iloc[:3]

upto_row_3

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm

In [47]:
# Using loc. Uses labels for columns instead of numerical figures

column_3 = df.loc[: , 'designation']
column_3

0                                   Vulkà Bianco
1                                       Avidagos
2                                            NaN
3                           Reserve Late Harvest
4             Vintner's Reserve Wild Child Block
                           ...
129966    Brauneberger Juffer-Sonnenuhr Spätlese
129967                                       NaN
129968                                     Kritt
129969                                       NaN
129970             Lieu-dit Harth Cuvée Caroline
Name: designation, Length: 129971, dtype: object

In [48]:
# Summary functions 
# These are some of the functions we use in pandas to summarize acolumn of a dataset

# Some of the functions: describe()  , mean()  , ratio() , unique() etc

In [49]:
# unique countries

unique_countries = df['country'].unique()
unique_countries

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [50]:
# describe( works for numeric and non-numeric columns)

# Non numeric column

country_describe = df['country'].describe()
country_describe

count     129908
unique        43
top           US
freq       54504
Name: country, dtype: object

In [51]:
# Numeric column(Points)

points_describe = df['points'].describe()
points_describe

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [52]:
country_value_counts = df['country'].value_counts()
country_value_counts

country
US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Macedonia                    12
Czech Republic               12
Serbia                       12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Armenia                       2
Bosnia and Herzegovina        2
Slovakia                      1
China                         1
Egypt                         1
Name: count, dtype: int64

In [53]:
# Group by function

# group by says put argentina countries together , Armenia together etc

grouping_data = df.groupby(['country'])['country'].count()
grouping_data

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4472
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: country, dtype: int64

In [58]:
# We can perform multiple aggregations using agg after grouping

grouping_agg = df.groupby(['country'])['price'].agg([min , len , max])
grouping_agg

C:\Users\HP\AppData\Local\Temp\ipykernel_17188\1879895843.py:3: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  grouping_agg = df.groupby(['country'])['price'].agg([min , len , max])
C:\Users\HP\AppData\Local\Temp\ipykernel_17188\1879895843.py:3: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  grouping_agg = df.groupby(['country'])['price'].agg([min , len , max])

                         min    len     max
country
Argentina                4.0   3800   230.0
Armenia                 14.0      2    15.0
Australia                5.0   2329   850.0
Austria                  7.0   3345  1100.0
Bosnia and Herzegovina  12.0      2    13.0
Brazil                  10.0     52    60.0
Bulgaria                 8.0    141   100.0
Canada                  12.0    257   120.0
Chile                    5.0   4472   400.0
China                   18.0      1    18.0
Croatia                 12.0     73    65.0
Cyprus                  11.0     11    21.0
Czech Republic          15.0     12    45.0
Egypt                    NaN      1     NaN
England                 25.0     74    95.0
France                   5.0  22093  3300.0
Georgia                  9.0     86    40.0
Germany                  5.0   2165   775.0
Greece                   8.0    466    79.0
Hungary                 10.0    146   764.0
India                   10.0      9    20.0
Israel                   8.0    505   150.0
Italy                    5.0  19540   900.0
Lebanon                 13.0     35    75.0
Luxembourg              16.0      6    30.0
Macedonia               15.0     12    20.0
Mexico                   8.0     70   108.0
Moldova                  8.0     59    42.0
Morocco                 14.0     28    40.0
New Zealand              7.0   1419   130.0
Peru                    10.0     16    68.0
Portugal                 5.0   5691  1000.0
Romania                  4.0    120   320.0
Serbia                  15.0     12    42.0
Slovakia                16.0      1    16.0
Slovenia                 7.0     87    90.0
South Africa             5.0   1401   330.0
Spain                    4.0   6645   770.0
Switzerland             21.0      7   160.0
Turkey                  14.0     90   120.0
US                       4.0  54504  2013.0
Ukraine                  6.0     14    13.0
Uruguay                 10.0    109   130.0

In [65]:
# We can group by using multiple columns

# Lets group by country and region

country_region = df.groupby(['country' , 'province'])['province'].count()
country_region

country    province
Argentina  Mendoza Province    3264
           Other                536
Armenia    Armenia                2
Australia  Australia Other      245
           New South Wales       85
                               ...
Uruguay    Juanico               12
           Montevideo            11
           Progreso              11
           San Jose               3
           Uruguay               24
Name: province, Length: 425, dtype: int64

In [ ]:
# MAPPING
# Mapping is changing each value in a dataset and it can be achieved by using 2 functions: 
# apply() AND map()

# The difference is in how they are used.

In [67]:
# map() function is for changing values of a single column

# Lets create a single column with a few valuea and try to change them using map function

values_series = pd.Series([1 ,2 ,3 ,4 ,5 ,6] , )
values_series

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [69]:
# We use the map function and increase each value by 2

value_add = values_series.map(lambda x : x + 2)
value_add

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64

In [71]:
# We can create a series for names and maybe change to uppercase or lowercase etc

country_series = pd.Series(['James' , 'Joy' , 'Joan' , 'John'])
country_series

0    James
1      Joy
2     Joan
3     John
dtype: object

In [73]:
# We change the names to upper case

country_upper = country_series.map(lambda x : x.upper())
country_upper

0    JAMES
1      JOY
2     JOAN
3     JOHN
dtype: object

In [75]:
# Apply function can be used both for series or dataframes

# We can apply it both on a ssingle column or multiple columns

# Create a data fram for marks

marks = {
    "English" : [50 , 70 , 60 , 90 , 40] ,
    "Maths" : [60 , 80, 90 , 30 , 50] , 
}

marks_df = pd.DataFrame(marks)
marks_df

   English  Maths
0       50     60
1       70     80
2       60     90
3       90     30
4       40     50

In [81]:
# We go ahead and create another column for average and try using the apply function

marks_df['Average'] = marks_df.apply(lambda row : (row['English'] + row['Maths']) / 2 , axis=1)

marks_df

   English  Maths  Average
0       50     60     55.0
1       70     80     75.0
2       60     90     75.0
3       90     30     60.0
4       40     50     45.0

In [84]:
# We can go ahead and grade like above 60 thats a pass else fail

marks_df['Grade'] = marks_df.apply(lambda row : 'Yes' if row ['Average'] >= 60 else 'No' , axis= 1)
marks_df

   English  Maths  Average Grade
0       50     60     55.0    No
1       70     80     75.0   Yes
2       60     90     75.0   Yes
3       90     30     60.0   Yes
4       40     50     45.0    No

In [85]:
df

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Average
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,55.0
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,75.0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,75.0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,60.0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),NaN
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,NaN
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,NaN
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,NaN
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,NaN

In [92]:
# We check if the description column is unique. It should return 129971 rows

df['description'].unique

<bound method Series.unique of 0         Aromas include tropical fruit, broom, brimston...
1         This is ripe and fruity, a wine that is smooth...
2         Tart and snappy, the flavors of lime flesh and...
3         Pineapple rind, lemon pith and orange blossom ...
4         Much like the regular bottling from 2012, this...
                                ...
129966    Notes of honeysuckle and cantaloupe sweeten th...
129967    Citation is given as much as a decade of bottl...
129968    Well-drained gravel soil gives this wine its c...
129969    A dry style of Pinot Gris, this is crisp with ...
129970    Big, rich and off-dry, this is powered by inte...
Name: description, Length: 129971, dtype: object>

In [96]:
# We make the description as the index

description_index=df.set_index('description')
description_index.head(2)

,country,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,Average
description,,,,,,,,,,,,,
"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity.",Italy,Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,55.0
"This is ripe and fruity, a wine that is smooth while still structured. Firm tannins are filled out with juicy red berry fruits and freshened with acidity. It's already drinkable, although it will certainly be better from 2016.",Portugal,Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,75.0

In [104]:
df.groupby(['country']).agg(len)

In [109]:
reviewed_countries = df.groupby(['country' , 'province']).description.agg(len)
reviewed_countries

country                 province
Argentina               3800        1
Armenia                 2           1
Australia               2329        1
Austria                 3345        1
Bosnia and Herzegovina  2           1
Brazil                  52          1
Bulgaria                141         1
Canada                  257         1
Chile                   4472        1
China                   1           1
Croatia                 73          1
Cyprus                  11          1
Czech Republic          12          1
Egypt                   1           1
England                 74          1
France                  22093       1
Georgia                 86          1
Germany                 2165        1
Greece                  466         1
Hungary                 146         1
India                   9           1
Israel                  505         1
Italy                   19540       1
Lebanon                 35          1
Luxembourg              6           1
Macedonia               12          1
Mexico                  70          1
Moldova                 59          1
Morocco                 28          1
New Zealand             1419        1
Peru                    16          1
Portugal                5691        1
Romania                 120         1
Serbia                  12          1
Slovakia                1           1
Slovenia                87          1
South Africa            1401        1
Spain                   6645        1
Switzerland             7           1
Turkey                  90          1
US                      54504       1
Ukraine                 14          1
Uruguay                 109         1
Name: description, dtype: int64

In [121]:
countries_reviewed = reviewed_countries.reset_index()
countries_reviewed

                   country  province  description
0                Argentina      3800            1
1                  Armenia         2            1
2                Australia      2329            1
3                  Austria      3345            1
4   Bosnia and Herzegovina         2            1
5                   Brazil        52            1
6                 Bulgaria       141            1
7                   Canada       257            1
8                    Chile      4472            1
9                    China         1            1
10                 Croatia        73            1
11                  Cyprus        11            1
12          Czech Republic        12            1
13                   Egypt         1            1
14                 England        74            1
15                  France     22093            1
16                 Georgia        86            1
17                 Germany      2165            1
18                  Greece       466            1
19                 Hungary       146            1
20                   India         9            1
21                  Israel       505            1
22                   Italy     19540            1
23                 Lebanon        35            1
24              Luxembourg         6            1
25               Macedonia        12            1
26                  Mexico        70            1
27                 Moldova        59            1
28                 Morocco        28            1
29             New Zealand      1419            1
30                    Peru        16            1
31                Portugal      5691            1
32                 Romania       120            1
33                  Serbia        12            1
34                Slovakia         1            1
35                Slovenia        87            1
36            South Africa      1401            1
37                   Spain      6645            1
38             Switzerland         7            1
39                  Turkey        90            1
40                      US     54504            1
41                 Ukraine        14            1
42                 Uruguay       109            1

In [136]:
countries_reviewed.sort_values(by='country', inplace=True , ascending= False)
countries_reviewed

                   country  province  description
42                 Uruguay       109            1
41                 Ukraine        14            1
40                      US     54504            1
39                  Turkey        90            1
38             Switzerland         7            1
37                   Spain      6645            1
36            South Africa      1401            1
35                Slovenia        87            1
34                Slovakia         1            1
33                  Serbia        12            1
32                 Romania       120            1
31                Portugal      5691            1
30                    Peru        16            1
29             New Zealand      1419            1
28                 Morocco        28            1
27                 Moldova        59            1
26                  Mexico        70            1
25               Macedonia        12            1
24              Luxembourg         6            1
23                 Lebanon        35            1
22                   Italy     19540            1
21                  Israel       505            1
20                   India         9            1
19                 Hungary       146            1
18                  Greece       466            1
17                 Germany      2165            1
16                 Georgia        86            1
15                  France     22093            1
14                 England        74            1
13                   Egypt         1            1
12          Czech Republic        12            1
11                  Cyprus        11            1
10                 Croatia        73            1
9                    China         1            1
8                    Chile      4472            1
7                   Canada       257            1
6                 Bulgaria       141            1
5                   Brazil        52            1
4   Bosnia and Herzegovina         2            1
3                  Austria      3345            1
2                Australia      2329            1
1                  Armenia         2            1
0                Argentina      3800            1