In [1]:
# In this notebook we will be dealing with renaming indexes and columns

# One can rename an index or a column depending on how you specify in the replace property

import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Data-Science-Foundations\datasets\winemag-data-130k-v2.csv" , index_col = 0)
df.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [4]:
# We may want to rename the column points to score

df.rename(columns={'points' : 'score'}).head(1)

,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [6]:
# We may also want to rename the indexes

# Lets say we rename 0 to first_entry

df.rename(index={0 : 'first_entry'}).head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
first_entry,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [8]:
# One may want to give a common name to your columns and rows

#  Eg the columns you may name them as field_names
#  eg the rows you may name them as wines

# We use the rename_axis method to perform this


df.rename_axis('wines' , axis= 'rows').rename_axis('field_names' , axis= 'columns').head(1)

field_names,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
wines,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia